.app {
    background-color: #0D1117;
    min-height: 100vh;
}
.app .teste {
    height: 60px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    visibility: hidden;
}

.app .header {
    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 70px;
    background-color: #161B22;
    z-index: 999;
}
.app .header .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.app .header .inputDiv {
    display: flex;
    align-items: center;
    margin-left: 15px;
    border: 1px solid #444;
    background-color: #0D1117;
    width: 250px;
    border-radius: 5px;
}
.app .header .inputDiv .input {
    border: none;
    height: 25px;
    padding-left: 10px;
    background-color: transparent;
    flex: 1;
    color: #C3C6CA;
}
.app .header .inputDiv .searchIcon {
    width: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.app .changeView {
    display: flex;
    border-bottom: 1px solid #777;
    z-index: 999;
    background-color: #0D1117;
    height: 60px;
    position: relative;
}
.app .changeView .hiddenInfo {
    height: 60px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50px;
    animation: fade 500ms;
}
.app .changeView .defaultBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    cursor: pointer;
    padding: 20px 0 10px 0;
    border-bottom: 2px solid transparent;
    transition: 250ms;
}
.app .changeView .defaultBtn .defaultText {
    color: #777;
    margin: -3px 0 0 10px;
    transition: 250ms;
}
.app .changeView .defaultBtn .qtdRepos {
    padding: 3px 7px;
    background-color: #262C32;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}





.app .mainDiv {
    display: grid;
    grid-template-columns: 24% 75%;
    grid-gap: 1%;
    padding: 30px 50px 50px 50px;
}
.app .mainDiv .side {
    display: flex;
    flex-direction: column;
}
.app .mainDiv .side .img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.app .mainDiv .side .userInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.app .mainDiv .side .userInfo .name {
    color: #C3C6CA;
    font-size: 30px;
    width: 500px;
}
.app .mainDiv .side .userInfo .login {
    color: #777;
    font-size: 23px;
}
.app .mainDiv .side .btns {
    display: grid;
    grid-template-columns: 75% 22%;
    grid-gap: 3%;
    margin-top: 15px;
}
.app .mainDiv .side .btns .btn {
    color: #aaa;
    background-color: #21262D;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #777;
    transition: 150ms;
    cursor: pointer;
}
.app .mainDiv .side .btns .btn span {
    font-weight: bold;
    font-size: 14px;
    color: #C3C6CA;
}

.app .mainDiv .side .bio {
    color: #C3C6CA;
    margin-top: 15px;
    font-size: 18px;
}


.app .mainDiv .side .followAndStars {
    display: flex;
    margin-top: 15px;
    align-items: center;
    flex-wrap: wrap;
}
.app .mainDiv .side .followAndStars .follow {
    display: flex;
    align-items: center;
}
.app .mainDiv .side .followAndStars .stars {
    display: flex;
    align-items: center;
}
.app .mainDiv .side .followAndStars .smallestBall {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #C3C6CA;
    display: flex;
    align-items: center;
    margin: 4px 10px 0 10px;
}
.app .mainDiv .side .followAndStars .followText {
    color: #999;
}

.app .mainDiv .side .emailDiv {
    display: flex;
    margin-top: 15px;
    align-items: center;
}
.app .mainDiv .side .email {
    margin-left: 10px;
    color: #C3C6CA;
    text-decoration: none;
}

.app .mainDiv .side .moreInfo {
    margin-top: 15px;
}
.app .mainDiv .side .moreInfo .defaultInfoDiv {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.app .mainDiv .side .moreInfo .defaultInfoDiv .link {
    color: #C3C6CA;
    text-decoration: none;
    margin-left: 10px;
    transition: 250ms;
    border-bottom: 1px solid transparent;
}







.app .mainDiv .side .arrayDiv {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin-left: 50px;
}
.app .mainDiv .side .arrayDiv .arrayItem {
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 100px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.app .mainDiv .side .linkDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.app .mainDiv .side .link {
    text-decoration: none;
    font-size: 20px;
    color: #58A6FA;
    border-bottom: 1px solid transparent;
}
.app .mainDiv .side .description {
    color: #999;
    font-size: 14px;
    margin-top: 5px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}
.app .mainDiv .side .languageDiv {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.app .mainDiv .side .languageDiv .ballFull {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.app .mainDiv .side .languageDiv .language {
    margin: 0 15px 0 5px;
    color: #999;
}
.app .mainDiv .side .languageDiv .starDiv {
    display: flex;
    align-items: center;
}
.app .mainDiv .side .languageDiv .forkDiv {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.app .mainDiv .side .languageDiv .starText {
    color: #999;
}

/** Array Repositories */
.app .mainDiv .side .arrayDivRepos {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.app .mainDiv .side .arrayDivRepos .repositories {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 15px;
    border-bottom: 1px solid #777;
}
.app .mainDiv .side .arrayDivRepos .repositories .reposSideDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.app .mainDiv .side .arrayDivRepos .repositories .reposSideDiv .reposLink {
    font-size: 22px;
}


.app .mainDiv .side .arrayDivRepos .repositories .btn {
    color: #aaa;
    background-color: #21262D;
    height: 35px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #777;
    transition: 150ms;
    cursor: pointer;
}
.app .mainDiv .side .arrayDivRepos .repositories .btn span {
    font-weight: bold;
    font-size: 14px;
    color: #C3C6CA;
}


.app .header .inputDiv:focus-within {
    animation: growWidth 400ms;
    border: 1px solid #58A6FA;
    animation-fill-mode: forwards;
}
.input:focus {
    outline: 0;
}
.app .changeView .defaultBtn:hover {
    border-bottom: 2px solid #999;
}
.app .changeView .defaultBtn:hover .defaultText {
    color: #C3C6CA;
}
.app .mainDiv .side .btns .btn:hover, .app .mainDiv .side .arrayDivRepos .repositories .btn:hover {
    background-color: #30363D;
    border: 1px solid #C3C6CA;
}
.app .mainDiv .side .moreInfo .defaultInfoDiv .link:hover {
    color: #58A6FA;
    border-bottom: 1px solid #58A6FA;
}
.app .mainDiv .side .link:hover {
    border-bottom: 1px solid #58A6FA;
}



@keyframes growWidth {
    to{width: 350px}
}
@keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}
